.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  color: #333;
}

button {
  background-color: #008080;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
